<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/theme.css">
    <!-- <link rel="stylesheet" href="css/slides.css"> -->
    <!-- resolution: width:1787 height:1005 -->
    <script src="dashboard/js/htmx.min.js"></script>
    <title>Display</title>
</head>
<body>
    <div id="header" style="text-align: center;background-color: /*yellow*/ #d4e7eb;padding: 20px; border: solid 1px white;">
        <img src="icon/4.png" alt="Top User photo">
        <div style="translate: -5%;">
            <h1>ৰসৰাজ লক্ষ্মীনাথ বেজবৰুৱা কেন্দ্ৰীয় পুথিভঁৰাল</h1>
            <h1>Rasaraj Lakshminath Bezbaruah Central Library, Raha College</h1>
            <p>A Provincialised College the Govt. of Assam</p>
            <p>UGC Recognized. Affiliated to Gauhati University, NAAC Accredited</p>
        </div>
    </div>
    <section class="grid_container">
        <div class="grid_item item-attendance">
            <h1 class="p_header" style="text-align: center;color: white;" hx-get="api/a_c_api.php" hx-trigger="load delay:3s, every 10s" hx-target="#a_c"  hx-swap-oob="true">Attendance</h1>
            <table id="table1" style="font-size: 25px;">
                <tr>
                    <td>Students</td>
                    <td id="a_c2">: 0</td>
                </tr>
                <tr>
                    <td>Teachers</td>
                    <td id="a_c3">: 0</td>
                </tr>
                <tr>
                    <td>Others</td>
                    <td id="a_c4">: 0</td>
                </tr>
                <tr>
                    <td>Males</td>
                    <td id="a_c1">: 0</td>
                </tr>
                <tr>
                    <td>Females</td>
                    <td id="a_c">: 0</td>
                </tr>
            </table>
        </div>
        <div class="grid_item item-visitors mySlides">
            <h1 class="p_header">Recently Visitors</h1>
            <div class="table-wrapper fade">
                <table id="recentlyVisitorsTable">
                    <thead>
                        <tr>
                            <th style="width: 145px;/*145*/">Member ID</th>
                            <th>Name</th>
                            <th style="width: 237px;/*221*/">Login_Time</th>
                            <th style="width: 237px;/*221*/">Logout_Time</th>
                            <th style="width: 213px;/*210*/">Location</th>
                        </tr>
                    </thead>
                    <tbody id="t1">
                        <!-- Rows will be dynamically inserted here by HTMX -->
                    </tbody>
                </table>
            </div>
        </div>
        <!-- notice data show -->
        <div class="mySlides">
            <h1 class="p_header">Information Section</h1>
            <div class="fade"> <!-- style="border: 2px solid white;" -->
                <div id="grid_n">
                    <div class="grid_na">
                        <h1>Library Collections</h1>
                        <table style="width: 100%;height: 75%;">
                            <tbody>
                                <tr>
                                    <td>TEXTBOOKS</td>
                                    <td>:</td>
                                    <td hx-get="dashboard/apis/d.php?q=6" hx-trigger="load delay:2s, every 10s" hx-target="this">0</td>
                                </tr>
                                <tr>
                                    <td>JOURNAL & MAGAZINE</td>
                                    <td>:</td>
                                    <td hx-get="dashboard/apis/d.php?q=7" hx-trigger="load delay:2s, every 10s" hx-target="this">0</td>
                                </tr>
                                <tr>
                                    <td>BOUND VOLUMES</td>
                                    <td>:</td>
                                    <td hx-get="dashboard/apis/d.php?q=8" hx-trigger="load delay:2s, every 10s" hx-target="this">0</td>
                                </tr>
                                <tr>
                                    <td>E-JOURNALS</td>
                                    <td>:</td>
                                    <td hx-get="dashboard/apis/d.php?q=9" hx-trigger="load delay:2s, every 10s" hx-target="this">0</td>
                                </tr>
                                <tr>
                                    <td>SUBSCRIBED DATABASES</td>
                                    <td>:</td>
                                    <td hx-get="dashboard/apis/d.php?q=10" hx-trigger="load delay:2s, every 10s" hx-target="this">0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="grid_na">
                        <h1>Notice</h1>
                        <p id="notice" hx-get="dashboard/apis/d.php?q=5" hx-trigger="load delay:2s, every 10s" hx-target="this" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Yesterday will be library closed. Next day will be open as a normal day. Please return your book and reissue in a provided time period.</p>
                    </div>
                    <div class="grid_na">
                        <h1>Library Collections</h1>
                        <table style="width: 100%;height: 77%;">
                            <tbody>
                                <tr>
                                    <td>BRAILLE BOOKS</td>
                                    <td>:</td>
                                    <td hx-get="dashboard/apis/d.php?q=11" hx-trigger="load delay:2s, every 10s" hx-target="this">0</td>
                                </tr>
                                <tr>
                                    <td>THESIS</td>
                                    <td>:</td>
                                    <td hx-get="dashboard/apis/d.php?q=12" hx-trigger="load delay:2s, every 10s" hx-target="this">0</td>
                                </tr>
                                <tr>
                                    <td>DISSERTATIONS</td>
                                    <td>:</td>
                                    <td hx-get="dashboard/apis/d.php?q=13" hx-trigger="load delay:2s, every 10s" hx-target="this">0</td>
                                </tr>
                                <tr>
                                    <td>NEWSPAPER</td>
                                    <td>:</td>
                                    <td hx-get="dashboard/apis/d.php?q=14" hx-trigger="load delay:2s, every 10s" hx-target="this">0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- books data show -->
        <div class="mySlides">
            <h1 class="p_header" hx-get="dashboard/apis/d.php?q=3" hx-trigger="load delay:5s, every 10s" hx-target="this">Title</h1>
            <div id="fs_img" class="fs_img fade">
                <div class="card">
                    <img src="dashboard/images/67e3c917d1fef_1.jpg" alt="">
                    <h3>hi</h3>
                    <p>2</p>
                </div>
            </div>
        </div>
        <!-- third data show -->
        <div class="mySlides">
            <h1 class="p_header" hx-get="dashboard/apis/d.php?q=4" hx-trigger="load delay:10s, every 20s" hx-target="this">Title</h1>
            <!-- <div id="s_img" class="s_img fade"></div> -->
            <div id="s_img" class="s_img fade">
                <img src="dashboard/images/67e19f4b4b3f5_WhatsApp Image 2025-03-22 at 13.20.11.jpeg" alt="">
                <img src="dashboard/images/67e19f6336be6_WhatsApp Image 2025-03-22 at 13.20.14.jpeg" alt="">
                <img src="dashboard/images/67e19f8b258f7_WhatsApp Image 2025-03-22 at 13.20.15 (1).jpeg" alt="">
            </div>
        </div>
        <div class="grid_item item-bottom-left">
            <h1 style="text-align: center;font-weight: 500;">Total<br>Visitors: <span id="a_c5">0</span></h1>
        </div>
        <div class="grid_item item-bottom-right" style="padding-left: 15px;">
            <div class="item-bottom-right_sub" hx-get="api/p_api.php?q=1" hx-trigger="load delay:3s, every 10s" hx-target="#top1" hx-swap-oob="true">
                <img id="top1" src="icon/img_avatar.png" alt="Top User photo">
                <div style="font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                    <h3>Top One User</h3>
                    <p id="top">Name: Firstname Lastname</p>
                    <p id="top2">Member ID: BSC/2023/09</p>
                    <p>Year: 2022-2023</p>
                </div>
            </div>
            <div class="item-bottom-right_sub" hx-get="api/p_api.php?q=2" hx-trigger="load delay:3s" hx-target="#ptop1" hx-swap-oob="true">
                <img id="ptop1" src="icon/img_avatar.png" alt="Top User photo">
                <div style="font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                    <h3>Awarded User</h3>
                    <p id="ptop">Name: Firstname Lastname</p>
                    <p id="ptop2">Member ID: BSC/2023/09</p>
                    <p>Year: 2023-2024</p>
                </div>
            </div>
            <div class="item-bottom-right_sub" hx-get="api/p_api.php?q=3" hx-trigger="load delay:3s" hx-target="#sptop1" hx-swap-oob="true">
                <img id="sptop1" src="icon/img_avatar.png" alt="Top User photo">
                <div style="font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                    <h3>Awarded User</h3>
                    <p id="sptop">Name: Firstname Lastname</p>
                    <p id="sptop2">Member ID: BSC/2023/09</p>
                    <p>Year: 2022-2023</p>
                </div>
            </div>
        </div>
    </section>

<script src="js/theme2.js"></script>
<script src="js/s_.js"></script>
</body>
</html>